.chatbox-container{
    background-color: red !important;
    z-index: 999;
}
.message-box{
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.message-container{
    color: white;
}